<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial_scale=1">
        <title>Admin</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='CSS/admin.css')}}">
    </head>
    <body>
            <div class="side_bar">
                <a href="{{url_for("admin")}}">
                <img class="logo" src="{{url_for('static', filename ='image/logo.png')}}">
                <a class="admin">Admin</a></a>
                <br><br>
                <div class="icons">
                    <a href="{{url_for("admin")}}">Dashboard</a>
                    <a href="{{url_for("venue")}}">Venues</a>
                    <a href="{{url_for("show")}}">Shows</a>
                    <a href="{{url_for("show_venue")}}">Venue of Show and Price</a>
                    <div class="logout_button">
                    <a href="{{url_for("admin_logout")}}" class="logout_admin"><button><i class="bi bi-box-arrow-left"></i> logout</button></a>
                    </div>
                </div>
            </div>
            {% if dashboard==True %}
            <div class="dashboard">
                    <p class="dashboard_heading">Dashboard<i>Summary of the App</i></p>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <p class="dashboard_symbol"> &#x20B9;</p>
                                <p class="dashboard_highlight_result">{{total_sale}}</p>
                                <p class="dashboard_highlight_heading">Total Sales</p>
                            </div>
                            <div class="col">
                                <p class="dashboard_symbol" style="background-color: rgb(153, 153, 241);"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" fill="currentColor" class="bi bi-ticket-perforated" viewBox="0 0 16 16">
                                    <path d="M4 4.85v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Z"/>
                                    <path d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3h-13ZM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1.05a2.5 2.5 0 0 0 0 4.9v1.05a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1.05a2.5 2.5 0 0 0 0-4.9V4.5Z"/>
                                  </svg>
                                </p>
                                <p class="dashboard_highlight_result">{{total_ticket_booked}}</p>
                                <p class="dashboard_highlight_heading">Ticket Booked</p>
                            </div>
                            <div class="col">
                                <p class="dashboard_symbol" style="background-color: rgb(235, 190, 107);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg> 
                                </p>
                                <p class="dashboard_highlight_result">{{top_rated_show_rating}}</p>
                                <p class="dashboard_highlight_heading">Top Show Rated</p>
                            </div>
                            <div class="col">
                                <p class="dashboard_symbol" style="background-color: rgb(231, 126, 147);"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" fill="currentColor" class="bi bi-film" viewBox="0 0 16 16">
                                        <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0v6h8V1H4zm8 8H4v6h8V9zM1 1v2h2V1H1zm2 3H1v2h2V4zM1 7v2h2V7H1zm2 3H1v2h2v-2zm-2 3v2h2v-2H1zM15 1h-2v2h2V1zm-2 3v2h2V4h-2zm2 3h-2v2h2V7zm-2 3v2h2v-2h-2zm2 3h-2v2h2v-2z"/>
                                    </svg>
                                </p>
                                <p class="dashboard_highlight_result">{{shows_booking_running}}</p>
                                <p class="dashboard_highlight_heading">Shows Active</p>
                            </div>
                            <div class="col">
                                <p class="dashboard_symbol" style="background-color: rgb(208, 133, 245);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                                        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
                                      </svg>
                                </p>
                                <p class="dashboard_highlight_result">{{total_user}}</p>
                                <p class="dashboard_highlight_heading">Total User</p>
                            </div>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="summary_logo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-clipboard2-data" viewBox="0 0 16 16">
                                <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/>
                                <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z"/>
                                <path d="M10 7a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7Zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1Zm4-3a1 1 0 0 0-1 1v3a1 1 0 1 0 2 0V9a1 1 0 0 0-1-1Z"/>
                            </svg>
                        </div>
                        <p>Summaries(Top 3)</p>
                        
                        <div class="container" id="summaries_result">
                            <div class="row">
                                <div class="col-3">

                                </div>
                                <div class="col-5">
                                    <div class="top_three">
                                            <h6>Highest Shows Rating</h6>
                                                <table>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Show</th>
                                                        <th>Votes</th>
                                                        <th>Rating</th>
                                                    </tr>
                                                    {% for top_3_rated_show in top_3_rated_shows %}
                                                    <tr>
                                                        <td>{{top_3_rated_show[0]}}.</td>
                                                        <td>{{top_3_rated_show[1]}}</td>
                                                        <td>{{top_3_rated_show[2]}}</td>
                                                        <td>{{top_3_rated_show[3]}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="top_three">
                                        <h6>Most selling Show </h6>
                                        <table>
                                            <tr>
                                                <th>#</th>
                                                <th>Show</th>
                                                <th>Revenue</th>
                                            </tr>
                                            {% for top_3_revenue_show in top_3_revenue_shows %}
                                            <tr>
                                                <td>{{top_3_revenue_show[0]}}</td>
                                                <td>{{top_3_revenue_show[1]}}</td>
                                                <td>{{top_3_revenue_show[2]}}</td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard_graphs">
                            <div class="dashboard_graph_logo">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
                                    <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
                                </svg>
                            </div>
                            <p>Analytics</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-2">

                                </div>
                                <div class="col-8">
                                    <img src="./static/image/show_ticket_booked_bar.png" style="height: 300px;width: 300px;">
                                </div>
                                <div class="col-2">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}     
            <center>
                    {% if display_table == "True" %}
                    <div class="content">
                        <h1>{{heading}}</h1>
                        <table>
                            <tr>
                                {% for head in heads %}
                                    <th>{{head}}</th>
                                {% endfor %}
                            </tr>
                            {% for main_content in main_contents %}
                            <tr>
                                {% for box_content in box_contents %}
                                    <td>{{main_content[box_content]}}</td>
                                {% endfor %}
                                {% for additional in additional1 %}
                                    <td><a href="{{main_content[additional]}}" target="_blank">view</a></td>
                                {% endfor %}
                                {% if edit_delete == "True" %}
                                    <td><a href="{{url_for(url1 , id=main_content[id])}}"><i class="bi bi-pencil-square"></i></a>/<a href="{{url_for(url2 , id=main_content[id])}}"><i class="bi bi-trash"></i></a></td>
                                {% endif %}
                            </tr>              
                            {% endfor %}
                        </table>
                        {% if input_button == "True" %}
                            <a href="{{url_for(button_url)}}" rel="nonreferrer noopener"><button class="add">{{button_name}}</button></a>
                        {% endif %}
                        {% if past_show == True %}
                            <details style="margin-top: 35px;">
                                <summary><h1>Past shows</h1></summary>
                                <p>
                            <table class="past_shows">
                                <tr>
                                    {% for head in heads %}
                                        <th>{{head}}</th>
                                    {% endfor %}
                                </tr>
                                {% for main_contents_past_show in main_contents_past_shows %}
                                    <tr>
                                        {% for box_content in box_contents %}
                                            <td>{{main_contents_past_show[box_content]}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                        </p>
                    </details>
                    {% endif %}
                    {% if take_input == "True" %}
                        <h2>{{heading}}</h2>
                        <form method="POST" enctype="multipart/form-data">
                            {% if special_form=="True" %}
                                <select class="select" name="venue_name" required="True">
                                    <option>Select Venue</option>
                                    {% for venue in venues %}
                                        <option value="{{venue['venue_name']}}">{{venue['venue_name']}}</option>
                                    {% endfor %}
                                </select><br>
                                <select class="select" name="show_name" required="True">
                                    <option>Select Show</option>
                                    {% for show in shows %}
                                        <option value="{{show['show_name']}}">{{show['show_name']}}</option>
                                    {% endfor %}
                                </select><br>
                                <input type="text" name="price" placeholder="price of one ticket" required="True"><br>
                                <label>Put show time:</label>
                                <input  class="date_input" type="datetime-local" name="showtime"><br>
                            {% endif %}
                            {% for form_condition in form_conditions %}
                                    <input type= {{form_condition["type"]}} name = {{form_condition["name"]}} placeholder= {{form_condition["placeholder"]}}  required = {{form_condition["required"]}}><br>
                            {% endfor %}
                            <input class="submit" type="submit" name="/Go"><br>
                        </form>
                        </div>
                    {% endif %}
            </center>
    </body>
</html>